.btn-primary {
    color: #fff;

    &:hover,
    &:focus {
        color: #fff;
    }
}
.btn-standard {
    color: $body-color;
    background-color: transparent;
    border-color: #ccc;

    &:hover,
    &:focus {
        color: $body-color;
        background-color: #f3f3f3;
    }
}